# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fernando.raouda\PycharmProjects\ssm-testbed\sandbox\cdk\sample-cdk-codepipeline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
